<!doctype html>
<html lang="en">

<head>
	<title>{page_title}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="author" content="My Name">
	<meta name="description" content="{page_description}">
	<link rel="canonical" href="{canonicial_url}">
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" href="/static/styles.min.css">
</head>

<body>
	<main id="main">
		<nav class="links">
			<span><a href="/">Top</a> &middot; </span>
			<span><a href="/best/">Best</a> &middot;</span>
			<span><a href="/new/">New</a> &middot;</span>
			<span><a href="/ask/">Ask</a> &middot;</span>
			<span><a href="/show/">Show</a> &middot;</span>
			<span><a href="/job/">Job</a></span>
		</nav>
		{content}
	</main>

	<footer>
		<p><a href="https://sr.ht/~cmc/hn/">Source Code</a></p>
		<p>Copyright &copy; 2023 - {current_year}</p>
	</footer>

</body>

</html>
